html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #315e26;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #b1dd9e;
    width: 700px;
    height: 700px;
    border-radius: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    align-items: center;
}
input[name="title"],
input[name="price"],
input[name="category"],
textarea[name="description"] {
    font-size: 18px;
    width:  450px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

textarea[name="description"] {
    height: 120px;
    resize: vertical;
}
button{
    font-size: 18px;
    width: 350px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}